<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmptyLogin"
        tools:targetApi="31">

        <!-- MainActivity: Pantalla de Login -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DashboardActivity: Menú después del Login -->
        <activity android:name=".DashboardActivity" />

        <!-- TemperatureConverterActivity: Convertidor de temperatura -->
        <activity android:name=".TemperatureConverterActivity" />

        <!-- RockPaperScissorsActivity: Juego de Piedra, Papel o Tijera -->
        <activity android:name=".RockPaperScissorsActivity" />

    </application>

</manifest>